{#
Template: Email Confirmation Instructions

Description: This template is used to send an email to newly registered users, requesting email address confirmation.

Template Variables:
     - user: An object containing information about the user, such as 'name', 'email', etc.
     - reset_link: A string representing the URL for confirming the email address.
#}
{% extends "email/base.html" %}
{% block content %}
  {% if user.name %}
  <h1>Hi {{ user.name }},</h1>
  {% else %}
  <h1>Hi there,</h1>
  {% endif %}
  <p>
      You recently registered an account with <strong>Rave</strong>.
    To keep your information safe and secure, you need to confirm your email address
    using the link below. Clicking on this link is all that is needed to verify your account.
    <strong>This confirmation link is only valid for the next 24 hours.</strong>
  </p>
  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <a href="{{ reset_link }}" class="button button--red" target="_blank">Confirm your email</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p>If you didn't register an account with us, please ignore this email or <a href="https://support.ravesocial.co/">Contact Support</a>.</p>
  <p>Thanks,
    <br>The Team at Rave Social.</p>
  <table class="body-sub">
    <tr>
      <td>
        <p class="sub">If you're having trouble with the button above, copy and paste the URL below into your web browser.</p>
        <p class="sub">{{ reset_link }}</p>
      </td>
    </tr>
  </table>
{% endblock %}
