{#
Template: Password Change Confirmation

Description: This template is used to send an email notification to users confirming the successful change of their account password.

Template Variables:
     - user: An object containing information about the user, such as 'name', 'email', etc.
     - user_unlocked: A boolean indicating whether the user's account was previously locked and has been successfully unlocked.
#}
{% extends "email/base.html" %}
{% block content %}
  {% if user.name %}
  <h1>Hi {{ user.name }},</h1>
  {% else %}
  <h1>Hi there,</h1>
  {% endif %}
  <p>
    This message is to confirm that your <em>Rave Social</em> account password has been successfully changed.
    {% if user_unlocked %}
    <br><br>Your account was previously locked, but this has been successfully unlocked now, and you should be able to sign in back again.
    {% endif %}
    <br><br><strong>If you didn't request a password change, please  <a href="https://support.ravesocial.co/">
    contact us immediately</a>, otherwise, please disregard this notification.</strong>
  </p>
  <p>Thanks,
    <br>The Team at Rave Social.
  </p>
{% endblock %}
